@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
}

/*header*/
.header{
    background:url(../images/img-header.jpeg);
    background-position: center;
    position: absolute;
    width: 1920px;
    height: 650px;
}

/*nav*/

/*main history*/
.main_history{
    background-color: red;
    width:1920px;
    height:1090px;
}
/*main events*/
.main_history{
    background-color: blue;
    width:1920px;
    height:1500px;
}
/*main article*/